html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    font-size: 17px;
    background-color: rgb(229, 246, 247);
}
#header-img{
    width:250px;
    height: auto;
}
#header{
    background-color: #456268;
}
a{
    color: black;
}
a:hover{
    color:rgb(209, 46, 46);
}
#bell{
    font-size: 45px;
}
#con{
    background-color: rgb(222, 227, 233);
    border: 2px solid black;
    font-size: 19px;
}
.asdf:hover{
    color:rgb(209, 46, 46);
}
#sub{
    display: flex;
    align-items: center;
}
#sub input{
    width:100%;
}
@media (min-width: 360px) and (max-width: 560px){
    #video {
      width:350px;
      height: 300px;
    }
  }
  @media (min-width: 560px) and (max-width: 1200px) {
    #video {
      width:450px;
    }
  }